/* Include the padding and border in an element's total width and height */
* {
  margin: 0;
  padding: 0;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  background: #eee;
  font-size: 16px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 5px 5px;
  color: white;
  text-align: center;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  flex: 1 1 0;
  width: 0;
}

.right-half {
  background-color: #bbb;
  flex: 1 1 0;
  width: 0;
}

/**/
.paginationjs .paginationjs-pages ul {
  display: inline-block;
  list-style-type: none;
}

.paginationjs .paginationjs-pages ul li {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  list-style-type: none;
}

/**/
#content {
  margin: auto;
  width: 60%;
  /*border: 3px solid #73AD21;*/
  /*padding: 10px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  #content {
    flex-direction: column;
  }
}